@using WebAppNLayerBlog.BusinessLogicLayer.ViewModels.Guest
@model PageViewModel
@{
    ViewData["Title"] = "Home Page";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form class="form-inline" asp-action="Index" method="get">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="searchString" value="@ViewData["currentFilter"]" placeholder="Title, Subtitle">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
</div>

<div class="row">
    @foreach (var posts in Model.PostViewModels)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="badge badge-primary">@posts.Category.Name</a>
                    <h5 class="card-title">@posts.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@posts.Subtitle</h6>
                    <p class="card-text">@posts.Description</p>
                    <a asp-action="Detail" asp-route-id="@posts.Id" class="card-link">Card link</a>
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example" class="mt-3">
    <ul class="pagination justify-content-center">
        <li class="page-item @prevDisabled">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-searchString="@ViewData["currentFilter"]" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-searchString="@ViewData["currentFilter"]" asp-route-pageNumber="@i">@i</a></li>
        }
        <li class="page-item @nextDisabled">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-searchString="@ViewData["currentFilter"]">Next</a>
        </li>
    </ul>
</nav>
